<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="map.component.css">
    <style>
        /* body {
            background-color: #f8f9fa;
        } */
        /* .form-group {
            margin-bottom: 1rem;
        } */
        #map-container {
            height: 300px; 
            margin-top: 20px; 
            border: 1px solid #ced4da; 
            border-radius: 5px; 
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="home-location-input">Home Location:</label>
                <input [(ngModel)]="homeLocationInputValue" class="form-control" id="home-location-input" type="text" required>
            </div>
            <div class="col-md-6 form-group">
                <label for="work-location-input">Work Location:</label>
                <input [(ngModel)]="workLocationInputValue" class="form-control" id="work-location-input" type="text" required>
            </div>
        </div>
        <!-- <button class="btn btn-primary" (click)="showDirectionsOnMap()">Show Direction on Map</button> -->
        <!-- Container for the map -->
        <div id="map-container"></div>
    </div>
</body>
</html>
