body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h2 {
    color: #4285F4; /* Google Blue */
}

form {
    width: 400px; 
    border: 1px solid #333; /* Dark border color */
    padding: 20px; /* Add padding to create space between content and border */
    margin-top: 20px; /* Add margin for separation from the heading */
}
button.btn-primary {
    width: 100%;
}
button:hover {
    background-color: #3c79c5; /* Darker Google Blue on hover */
}